$filterColor: rgba(6, 6, 6, 0.3);
$colorTitle: white;
$numImg: 4;
$timeAnimate: 3.5s;

@mixin full-screen {
  width: 100%;
  height: 100%;
}

.slider {
  position: relative;
  
  min-height: 400px;
  min-width: 350px;

  margin-left: auto;
  margin-right: auto;

  animation: slider $timeAnimate*$numImg infinite alternate;
  animation-timing-function: cubic-bezier(1,.17,.16,.59);

  @keyframes slider{
      @for $i from 0 through $numImg - 1{
        
        @if($i == $numImg - 1){
            #{(100%/$numImg * $i)}, 100% {
                transform: translate3d(-100%*$i, 0, 0);
            }
        } @else{
            #{(100%/$numImg * $i )}, #{(100%/$numImg * $i) + 100%/$numImg*0.75} {
                transform:translate3D(-100%*$i, 0, 0); 
            } 
        }
        
    }

  }
 
  &__project {
      position: absolute;
      @include full-screen;

     
    &__image {
      z-index: 10;
      display: block;

      @include full-screen;

      &::before {
        content: "";

        display: block;
        position: absolute;
        @include full-screen;

        background-color: $filterColor;
        z-index: 5;
      }

    }
    
    @for $i from 0 through $numImg - 1{
      &:nth-child(#{$i}){
        transform:translate3D(100%*$i,0,0); 
      }
    }

  }
}
